{
  "dev": {
    "driver": "",
    "host": "",
    "database": "",
    "user": "",
    "password": ""
  },
  "test": {
    "driver": "",
    "host": "",
    "database": "",
    "user": "",
    "password": ""
  }
}